@import '../../styles/all';

.searchPage {
  background-image: url('../../../public/img/page-bg/search-page.png');
  display: flex;
  justify-content: center;
  padding-block: 257px 170px;
}

.containerMain {
  display: flex;
  background-color: $color-bg;
  height: 566px;
  border-radius: 32px;
}

.leftPanel {
  width: 258px;
  padding: 34px 24px;
  border-radius: 32px 0 0 32px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-right: 1px solid $color-grey-300;
}

.title {
  @include h4-web;
}

.region {
  display: flex;
  gap: 20px;
}

.regionIcon {

}

.regionName {

}

.rightPanel {
  position: relative;
  padding: 34px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 1262px;
}

.titleGreen {
  // position: absolute;
  // top: 24px;
  // left: 34px;

  @include h4-web;

  color: $color-primary;
  text-decoration: underline;
}

.searchBar {
  margin-left: 256px;
  display: flex;
  border: 1px solid $color-grey-50;
  border-radius: 1000px;
  background: $color-grey-50;
  width: 750px;
  padding: 16px;
}

.searchInput {
  border: none;
  padding-left: 8px;
  background-color: transparent;

  &::placeholder {
    @include main-web;
    
    color: $color-grey-500;
  }
}

.searchResults {
  display: flex;
  flex-wrap: wrap;
  column-gap: 90px;
}

.alphabetic {

}

.category {
  @include h4-web;

  margin-bottom: 16px;
}

.resultList {

}

.listItem {
  list-style: none;
  margin-bottom: 12px;
}

.resultLink {
  text-decoration: none;
  color: $color-grey-900;
}


