@import '../../styles/all';

.searchPage {
  width: 100vh;

  background: 
    linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)),
    url('../../../public/img/page-bg/search-page.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 110px 16px;
  padding-inline: 16px;

  @include on-desktop {
    background-image: url('../../../public/img/page-bg/search-page.png');
    width: auto;
    padding-block: 200px 34px;
    padding-inline: 32px;
  }

  @include on-desktop-wide {
    padding-block: 268px 159px;
    padding-inline: 200px;
  }
}

.containerMain {
  display: flex;
  flex-direction: column;
  
  @include on-desktop {
    flex-direction: row;
    background-color: $color-bg;
    height: 566px;
    border-radius: 32px;
  }
}

.leftPanel {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include on-desktop {
    padding: 34px 24px;
    width: 258px;
    border-radius: 32px 0 0 32px;
    border-right: 1px solid $color-grey-300;
  }
}

.title {
  @include h4-web;
}

.region {
  display: flex;
  gap: 20px;
}

.regionIcon {

}

.regionName {

}

.rightPanel {
  position: relative;
  display: flex;
  padding-block: 34px;
  flex-direction: column;
  gap: 32px;


  @include on-desktop {
    padding: 34px 24px;
    width: 947px;
  }

  @include on-desktop-wide {
    width: 1262px;
  }
}

.titleGreen {
  // position: absolute;
  // top: 24px;
  // left: 34px;

  @include h4-web;

  color: $color-primary;

  @include on-desktop {
    text-decoration: underline;
  }
}

.searchBar {
  display: flex;
  border: 1px solid $color-grey-50;
  border-radius: 1000px;
  background: $color-grey-50;
  width: 343px;
  padding: 16px;

  @include on-desktop {
    width: 750px;
    margin-left: 74.5px;
  }

  @include on-desktop-wide {
    margin-left: 256px;
  }
}

.searchInput {
  border: none;
  padding-left: 8px;
  background-color: transparent;

  &:focus {
    outline: none;
  }

  &::placeholder {
    @include main-web;
    
    color: $color-grey-500;
  }
}

.searchResults {
  position: relative;

  background-color: $color-bg;
  width: 343px;
  padding: 16px;
  border-radius: 16px;

  display: flex;
  flex-wrap: wrap;

  column-gap: 90px;

  @include on-desktop {
    padding: 0;
    background-color: transparent;
    width: auto;
  }
}

.alphabetic {

}

.category {
  @include h4-web;

  margin-bottom: 16px;
}

.resultList {

}

.listItem {
  list-style: none;
  margin-bottom: 12px;
}

.resultLink {
  text-decoration: none;
  color: $color-grey-900;
}

.loaderWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
