@import './variables';

@mixin on-tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin on-desktop-wide {
  @media (min-width: $desktop-wide-width) {
    @content;
  }
}

@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin grid {
  display: grid;

  --columns: 4;

  gap: 12px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-desktop {
    --columns: 12;
    gap: 32px;
  }

  @include on-desktop-wide {
    gap: 20px;
  }
}

@mixin logo-size {
  display: block;
  height: 64px;
  width: 64px;

  @include on-desktop {
    height: 80px;
    width: 80px;
  }
}

@mixin logo-link {
  display: inline-block;
  border-radius: 50%;
  padding: 0;  
  margin: 0;    
  line-height: 0; 
  cursor: pointer;
}

@mixin green-button {
  background-color: $color-primary;
  border: 1px solid $color-primary;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;

  &:focus {
    background-color: $color-primary-focused;
    border: 1px solid $color-primary-focused;
  }

  &:hover {
    background-color: $color-primary-hovered;
    border: 1px solid $color-primary-hovered;
    box-shadow: 0px 4px 10px 0px rgba(21, 71, 15, 0.3);
  }

  &:disabled {
    background-color: $color-primary-disabled;
    border: 1px solid $color-primary-disabled;
  }
}