$tablet-width: 640px;
$desktop-width: 1280px;
$desktop-wide-width: 1920px;

$header-height-mobile-tablet: 64px;
$header-height-web: 136px;


$color-bg: #fff;
$color-primary: #27861D;
$color-primary-focused: #3DA630;
$color-primary-hovered: #5BB351;
$color-primary-disabled: #C5E3C1;
$color-grey-900: #040506;
$color-grey-800: #28292A;
$color-grey-700: #454647;
$color-grey-500: #7E7F80;
$color-grey-300: #C6C7C7;
$color-grey-100: #E9EAEB;
$color-grey-50: #F5F6F6;
$color-system-error: #D72727;
$color-system-info: #495AB5;
$color-system-warning: #E1C83F;
$color-system-success: #138900;
$color-system-error-add: #FFCCD0;
$color-system-info-add: #C7CDE9;
$color-system-warning-add: #F5F4C4;
$color-system-success-add: #C4E4BE;
