@import '../../styles/all';

.headerMobile {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  z-index: 999;
  height: 94px;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background: transparent;

  @include on-desktop {
    display: none;
  }
}

.menuOpen {
  background: #FFFF;
}

.header {
  display: none;

  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  z-index: 10;
  margin: 0 auto;
  background: #BBD1E780;
  border-radius: 1000px;
  padding-inline: 77px;

  @include on-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 136px;
    width: 1216px;
  }

  @include on-desktop-wide {
    width: 1520px;
  }
}

.logoLink {
  display: inline-block;
  border-radius: 50%;
  padding: 0;  
  margin: 0;    
  line-height: 0; 
  cursor: pointer;
  
  
  @include hover(box-shadow, 0 4px 12px rgba(0, 0, 0, 0.4));
}

.logoIcon {
  display: block;
  height: 42px;
  width: 42px;

  @include on-desktop {
    height: 80px;
    width: 80px;
  }
}

.menuButton {
  border: none;
  background-color: transparent;
}

.containerLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 54px;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 71px;
}

.navItem {
  text-decoration: none;
  color: $color-grey-900;

  @include hover(color, $color-primary);
  @include hover(text-decoration, underline);
}

.isActive {
  color: $color-primary;
  text-decoration: underline;
}

.containerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 39px;
}

.login {
  @include button-mobile;

  color: $color-bg;
  text-decoration: none;
  border-radius: 100px;
  padding: 20px 16px;

  @include green-button;

  @include on-desktop {
    @include button-web;
  }
}

.registration {
  color: $color-grey-900;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid $color-primary;
  border-radius: 100px;
  padding: 20px 16px;

  @include hover(box-shadow, 0 4px 12px rgba(0, 0, 0, 0.4));
}

.profileContainer {
  padding: 16px;
  border-radius: 64px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  background-color: $color-grey-100;
}

.profileButton {
  @include button-web;

  position: relative;
  text-decoration: none;
  color: $color-grey-900;
  padding: 8px 16px;
  background-color: $color-bg;
  border: none;
  border-radius: 32px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.profileAvatar {
  height: 48px;
}

.userCard {
  position: absolute;
  top: 105px;

  background-color: $color-bg;
  padding: 16px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cardTop {
  display: flex;
  gap: 24px;
  text-decoration: none;
}

.userNameWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.userName {
  color: $color-grey-900;
}

.userText {
  color: $color-grey-500;
}

.userCardNav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.userCardNavLink {
  text-decoration: none;
  color: $color-grey-500;
  padding: 16px;

  &:hover {
    background-color: $color-grey-50;
    border-radius: 1000px;
    color: $color-grey-900;
  }
}