@import '../../styles/all';

.profileEditor {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include on-desktop {
    padding-inline: 16px;
  }
}

.title {
  @include h1-mobile-medium;

  @include on-desktop {
    // grid-column: 3 / -3;
  }
}

.avatarContainer {
  display: flex;
  gap: 32px;
  align-items: center;

  @include on-desktop {
    // grid-column: 3 / -4;
  }
}

.avatar {

}

.avatarButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;

  @include on-desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    grid-column: 1 / -1;
  }
}

.inputWrapper {
  border: 1px solid $color-grey-50;
  background-color: $color-grey-50;
  padding: 16px;
  border-radius: 1000px;
  width: 100%;

  &:focus-within {
    background-color: $color-bg;
    border-color: $color-grey-700;
  }

  @include on-desktop {
    width: auto;
  }
}

.input {
  border: none;
  background-color: transparent;
  width: 100%;

  &::placeholder {
    @include main-mobile;
    color: $color-grey-700;

    @include on-desktop {
      @include main-web;
    }
  }

  &:focus {
    outline: none;
  }
}

.errorMessage {
  @include secondary-web;

  color: $color-grey-500;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  gap: 8px;

  @include on-desktop {
    justify-content: start;
    gap: 16px;
  }
}

.buttonCancel {
  @include button-mobile;
  
  width: 100%;
  padding-block: 16px;
  color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: 1000px;
  background-color: $color-bg;
  cursor: pointer;

  @include hover(box-shadow, 0px 4px 10px 0px rgba(21, 71, 15, 0.3));

  @include on-desktop {
    @include button-web;
    
    width: 200px;
  }
}

.buttonSave {
  @include button-mobile;
  
  width: 100%;
  padding-block: 16px;
  color: $color-bg;
  border: 1px solid $color-primary;
  border-radius: 1000px;
  background-color: $color-primary;
  cursor: pointer;

  @include hover(box-shadow, 0px 4px 10px 0px rgba(21, 71, 15, 0.3));

  @include on-desktop {
    @include button-web;
    
    width: 200px;
  }
}
