@import '../../styles/all';

.AboutUsPage {

}

.containerTop {
  position: relative;
  
  height: 992px;
  width: 100%;
  background-image: url('../../../public/img/page-bg/about-us.png');
}

.contentWrapper {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 457px; 
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 819px;
}

.title {
  @include h1-web;

  color: $color-bg;
}

.introduction {
  @include h4-web;

  color: $color-bg;
}

.containerMain {
  margin-inline: 200px;
  padding-block: 32px 70px;
}

.titleSmall {
  @include h3-web;

  padding-bottom: 32px;

  &:last-of-type {
    margin-top: 32px;
  }
}

.teamGrid {
  @include on-desktop-wide {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    row-gap: 32px;
    margin-bottom: 32px;
  }
}

.teamCard {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include on-desktop-wide {
    grid-column: span 4;
  }
}

.teamPosition {
  @include main-web-bold;
}

.teamAbout {
  @include secondary-web;

  margin-top: 8px;
}

.historyGrid {
  @include on-desktop-wide {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    row-gap: 32px;
    margin-bottom: 32px;
  }
}

.history {
  @include on-desktop-wide {
    grid-column: 1 / 10;
  }
}

.titleXSmall {
  @include h4-web;

  margin-bottom: 16px;
}

.list {

}

.listItem {
  padding-bottom: 16px;

  &:last-child {
    padding-bottom: 0;
  }
}

.span {
  color: $color-primary;
}

.containerBottom {
  height: 308px;
  background-color: $color-primary;
  border-radius: 100px;
  margin-bottom: 70px;
}

.wrapper {
  padding-inline: 200px;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  gap: 285px;
}

.green {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.greenIcon {
  height: 44px;
  width: 44px;
}

.greenTitle {
  @include h3-web;

  color: $color-bg;
}

.greenDescription {
  color: $color-bg;
}
