@import '../../styles/all';

.homePage {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section {
  position: relative;

  padding-block: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-inline: 16px;

  @include on-desktop {
    margin-inline: 32px;
    padding-block: 100px;
  }

  @include on-desktop-wide {
    margin-inline: 200px;
  }
}

.sectionTitle {
  @include h1-mobile;

  margin-bottom: 24px;

  @include on-desktop {
    @include h2-web-bold;

    margin-bottom: 64px;
  }
}
