@import '../../styles/all';

.bannerSlider {
  position: relative;
  height: 550px;
  width: 100%;
  overflow: hidden;

  @include on-desktop {
    @include grid;

    height: 832px;
  }

  @include on-desktop-wide {
    height: 1080px;
  }
}

.bannerTitleWrapper {
  position: absolute;
  top: 200px;
  left: 16px;
  gap: 32px;

  z-index: 9;
  display: flex;
  flex-direction: column;

  @include on-desktop {
    grid-column: 1 / -1;

    top: 339px;
    left: 32px;
    gap: 30px;
  }

  @include on-desktop-wide {
    grid-column: 1 / 7;

    top: 425px;
    left: 200px;
    gap: 64px;
  }
}

.bannerTitle {
  color: $color-bg;

  @include h1-mobile;
  
  @include on-desktop {
    @include h1-web;
  }
}

.bannerButton {
  width: 166px;
  text-align: center;
  padding-block: 16px;
  color: $color-bg;
  text-decoration: none;
  border-radius: 1000px;

  @include green-button;
  @include button-mobile;

  @include on-desktop {
    width: 237px;  
    padding-block: 20px;

    @include button-web;
  }
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.activeSlide {
  opacity: 1;
}
