@import '../../styles/all';

.section {
  background-image: url('../../../public/img/page-bg/popular-tours.png');
  background-repeat: no-repeat;

  height: 809px;

  @include on-desktop {
    height: 966px;
    // padding-inline: 32px;
  }

  @include on-desktop-wide {
    height: 1076px;
    // padding-inline: 200px;
  }
}

.container {
  position: relative;

  @include grid;

  padding-inline: 16px;
  padding-block: 16px;
  
  @include on-desktop {
    padding-inline: 32px;
    padding-block: 30px;
  }

  @include on-desktop-wide {
    padding-block: 64px;
    padding-inline: 200px;
  }
}

.sectionTitle {
  @include h1-mobile;

  color: $color-bg;

  grid-column: 1 / -1;

  @include on-desktop {
    grid-column: 1 / 5;

    @include h2-web-bold;
  }
}

.link {
  width: 166px;
  padding-block: 16px;
  color: $color-bg;
  text-align: center;
  text-decoration: none;
  border-radius: 1000px;
  grid-column: 1 / -1;

  @include green-button;
  @include button-mobile;

  @include on-desktop {
    grid-column: 1 / 4;
    width: 237px;
    padding-block: 18px;

    @include button-web;
  }

  @include on-desktop-wide {
    grid-column: 1 / 3;
  }
}

.cardContainer {
  display: none;
  
  @include on-desktop {
    @include grid;
    
    display: flex;
    gap: 27px;
    grid-column: 1 / -1;
  }
}

.smallCardSlider {
  grid-column: 1 / -1;

  @include grid;

  @include on-desktop {
    display: none;
  }
}  

.sliderContainerSmall {
  grid-column: 1 / -1;

  @include grid;
  
  gap: 11px;
  display: flex;
  overflow: hidden;
  margin-block: 16px;
}

.smallCardMobile {
  position: relative;
  cursor: pointer;

  grid-column: span 2;
  height: 126px;
  width: 166px;

  transition: transform 0.3s ease;
  will-change: transform;
}

.cardImageSmall {
  height: 126px;
  width: 166px;
  border-radius: 16px;
}

.buttonsSmallWrapper {
  position: absolute;
  top: 280px;

  display: flex;
  gap: 10px;
}

.buttonSmall {
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

.buttonIcon {
  height: 32px;
}

.smallCard {
  position: relative;
  cursor: pointer;
  border-radius: 16px;

  @include hover(box-shadow, 0 4px 12px rgba(0, 0, 0, 0.4));

  // height: 126px;
  // width: 166px;

  @include on-desktop {
    height: 188px;
    width: 176px;
    
    &:last-child {
      display: none;
    }
  }
  
  @include on-desktop-wide {
    height: 242px;
    width: 194px;
    
    &:last-child {
      display: block;
    }
  }
}

.cardImage {
  border-radius: 16px;

  @include on-desktop {
    // height: 188px;
    width: 100%;
    height: 100%;
  }

  @include on-desktop-wide {
    height: 100%;
    width: 100%;
  }
}

.location {
  position: absolute;
  bottom: 16px;
  
  background-color: $color-bg;
  width: 131px;
  text-align: center;
  padding: 8px 16px;
  border-radius: 1000px;
  color: $color-grey-900;
}

.cardSlider {
  grid-column: 1 / -1;

  @include grid;
}

.sliderWrapper {
  transition: transform 0.3s ease;
  will-change: transform;
}

.buttonsWrapper {
  position: absolute;
  bottom: -30px;
  
  display: flex;
  align-items: center;
  gap: 10px;

  @include on-desktop {
    left: 50%;
    transform: translateX(-50%);
    gap: 16px;
  }
}

.button {
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sliderContainer {
  grid-column: 1 / -1;
  display: flex;
  overflow: hidden;

  margin-top: 32px;
  gap: 16px;
  
  @include on-desktop {
    gap: 32px;
    margin-top: 0;
  }

  @include on-desktop-wide {
    gap: 20px;
  }
}