@import '../../styles/all';

.tourDetailsPage {

}

.containerTop {
  position: relative;

  height: 585px;
  padding-inline: 16px;
  background: url('../../../public/img/page-bg/bg-ararat.png');
  background-repeat: no-repeat;

  @include on-desktop {
    height: 697px;
    padding-inline: 32px;
  }

  @include on-desktop-wide {
    padding-inline: 200px;
  }
}

.backButton {
  position: absolute;
  top: 120px;
  left: 0;

  display: flex;
  gap: 4px;
  justify-content: center;
  padding: 12px;
  background: transparent;
  border: none;
  cursor: pointer;

  @include on-desktop {
    top: 190px;
    left: 18px;
  }

  @include on-desktop-wide {
    left: 200px;
  }
}

.buttonLabel {
  @include button-web;
  
  color: $color-primary;
}

.highlightContainer {
  padding-block: 177px 48px;
  display: flex;
  justify-content: space-between;

  @include on-desktop {
    padding-block: 259px 90px;
  }
}

.highlights {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.highlightText {

}

.highlightWrapper {
  display: flex;
  gap: 16px;
}

.highlightText {

}

.tourRate {
  display: flex;
  gap: 8px;
}

.highlightText {
  color: $color-bg;
}

.highlightSpan {
  @include main-web-bold;

  color: $color-bg;
}

.tourName {
  @include h4-web;

  color: $color-bg;
}

.tourNearest {
  @include h4-web;

  color: $color-grey-100;
}

.bookButton {
  margin-top: 28px;
  background: $color-primary;
  border: 1px solid $color-primary;
  border-radius: 1000px;
  padding-block: 16px;
  width: 166px;
  color: $color-bg;

  @include button-web;

  @include hover(box-shadow, 0px 4px 10px 0px rgba(21, 71, 15, 0.3));

  @include on-desktop {
    width: 237px;
    padding-block: 19px;
  }
}

.actionButtons {
  position: absolute;
  bottom: 16px;
  right: 16px;
  left: 16px;
  
  display: flex;
  justify-content: space-between;

  @include on-desktop {
    position: static;
  }
}

.actionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  @include on-desktop {
    gap: 12px;
  }
}

.action {

}

.icon {
  height: 32px;

  @include on-desktop {
    height: 64px;
  }
}

.actionTitle {
  color: $color-bg;
}

.containerMain {
  padding-block: 32px;;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-inline: 16px;

  @include on-desktop {
    @include grid;
    
    padding-inline: 32px;
  }

  @include on-desktop-wide {
    padding-inline: 200px;
  }
}

.infoWrapper {
  grid-column: 1 / -1;

  @include grid;
}

.info {
  grid-column: 1 / 10;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.infoHighlights {
  display: flex;
  justify-content: space-between;
}

.infoText {
  text-align: center;
}

.infoSpan {
  @include main-web-bold;
}

.infoDescription {

}

.infoTags {
  display: flex;
  gap: 20px;
}

.tag {
  border: 1px solid $color-grey-700;
  border-radius: 1000px;
  padding: 16px 25px;
}

.mapWrapper {
  display: flex;
  flex-direction: column;

  @include on-desktop {
    grid-column: 10 / -1;
  }

  @include on-desktop-wide {
    grid-column: 11 / -1;
  }
}

.mapLink {
  color: $color-grey-700;
}

.conditionWrapper {
  grid-column: 1 / -1;
}

.title {
  @include h4-web;

  padding-bottom: 24px;
}

.conditionCards {
  // display: flex;
  // flex-direction: column;
  
  @include on-desktop {
    @include grid;
  }
}

.cardOne {
  grid-column: span 4;
  height: 293px;
  border-radius: 16px;
  background-image: url('../../../public/img/page-bg/conditions-1.png');
  background-repeat: no-repeat;
  padding: 109px 24px 108px 24px;
  cursor: pointer;
}

.cardTwo {
  grid-column: span 4;
  height: 293px;
  border-radius: 16px;
  background-image: url('../../../public/img/page-bg/conditions-2.png');
  background-repeat: no-repeat;
  padding: 109px 24px 108px 24px;
  cursor: pointer;
}

.cardThree {
  grid-column: span 4;
  height: 293px;
  border-radius: 16px;
  background-image: url('../../../public/img/page-bg/conditions-3.png');
  background-repeat: no-repeat;
  padding: 109px 24px 108px 24px;
  cursor: pointer;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.cardTitle {
  @include h4-web;

  color: $color-bg;
}

.cardDescription {
  color: $color-bg;
}

.feedbackContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include on-desktop {
    grid-column: 1 / 9;
  }
}

.feedbackTopbar {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  @include on-desktop {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.topbarItem {
  @include main-mobile;

  color: $color-grey-700;
  text-decoration: none;

  @include on-desktop {
    @include h4-web;
  }
}

.reviewButton {
  @include button-web;
  
  width: 237px;
  padding-block: 20px;
  background: transparent;
  border: 1px solid $color-primary;
  border-radius: 1000px;
  cursor: pointer;

  @include hover(box-shadow, 0px 4px 10px 0px rgba(21, 71, 15, 0.3));
}

.reviewCard {

}

.reviewTopbar {
  margin-bottom: 15px;
}

.user {
  display: flex;
  gap: 11px;
  cursor: pointer
}

.userImage {
  height: 43px;
  width: 43px;
}

.userInfo {
  @include secondary-web;
}

.userStatus {
  @include secondary-web;

  color: $color-grey-500;
}

.userActions {

}

.rateDetails {
  display: flex;
  gap: 8px;
}

.starWrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.star {
  height: 16px;
  width: 16px;
  background-image: url('../../../public/img/icons/star-yellow.svg');
}

.rateDate {
  @include secondary-web;

  color: $color-grey-500;
}

.reviewText {
  @include secondary-web;

  margin-bottom: 10px;
}

.reviewPhotos {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 24px;
}

.reviewActions {
  display: flex;
  gap: 32px;
}

.review {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.reviewCount {
  @include secondary-web;

  color: $color-grey-500;
  text-align: center;
}

.tourSuggestions {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include on-desktop {
    grid-column: 10 / -1;
  }
}


